@mixin styleText($color,$fs,$fw){
    color: $color;
    font-size: $fs;
    font-weight: $fw;    
}
@mixin styleCover($src){
    background: url($src) repeat center fixed !important;
    background-size: cover;
}